html, body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    padding: 0px;
    margin: 30px;
}

h1 {
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px repeat(3, 100px); /* Adjust grid-template-columns for header cells and grid cells */
    grid-template-rows: 100px repeat(3, 100px); /* Adjust grid-template-rows for header cells and grid cells */
    gap: 1px; /* Adjust the gap between cells as needed */
    margin: 50px auto;
    width: 400px;
    height: 400px; /* Adjust height based on the number of rows */
}

.header-cell, .grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}

/* Styling for header cells */
.header-cell {
    background: none;
    font-weight: bold;
}

.grid-cell {
    position: relative;
}

.hidden-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1; /* Use opacity: 0; to make the input field invisible */
    /*pointer-events: none; /* Use pointer-events: none; to allow click-through */
    font-size: 14px; /* Adjust font size if needed */
    padding: 5px; /* Adjust padding if needed */
}
